<volume>
        <name><%= name %></name>
        <allocation unit="<%= split_size_unit(allocation)[1] %>"><%= split_size_unit(allocation)[0] %></allocation>
        <capacity unit="<%= split_size_unit(capacity)[1] %>"><%= split_size_unit(capacity)[0] %></capacity>
        <target>
          <format type="<%= format_type %>"/>
          <permissions>
            <owner>0</owner>
            <group>0</group>
            <mode>0744</mode>
            <label>virt_image_t</label>
          </permissions>
        </target>
        <% if backing_volume -%>
        <backingStore>
          <path><%= backing_volume.path %></path>
          <format type="<%= backing_volume.format_type %>"/>
          <permissions>
            <owner>0</owner>
            <group>0</group>
            <mode>0744</mode>
            <label>virt_image_t</label>
          </permissions>
        </backingStore>
        <% end -%>
</volume>
